.bodyBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fcfcfc;
  width: 100%;
  /* margin: 1.62rem auto 0; */
  margin: 0 auto;
  gap: 2.5rem;
  padding-bottom: 8.75rem;
}
